<header class="navbar-mdgt">
	<nav class="container-fluid-mdgt container-mdgt container-fluid-mdgt-report">
		<a href="/" class="navbar-brand">
			<img class="navbar-brand__icon" src="https://s3.timeweb.com/cw78444-3db3e634-248a-495a-8c38-9f7322725c84/georeport/static/images/logo.png" />
			<!-- <div class="navbar-brand__line"></div>
			<div class="navbar-brand__title">
				GEOREPORT
				<div class="navbar-brand__title-sub">
					by mdgt
				</div>
			</div> -->
		</a>
            
		<div class="navbar-collapse-report" id="navbar-collapse-report">
			<ul class="navbar-nav navbar-nav-report">
				<li class="nav-item-report">
					<a class="nav-link-personal" data-goto="home" href="/">Главная</a>
				</li>								
			</ul>
		</div>
</nav>
</header>

			