<header class="navbar-mdgt">
	<nav class="container-fluid-mdgt container-mdgt container-fluid-mdgt-personal">
		<a href="{{ url_for('index') }}" class="navbar-brand">
			<img class="navbar-brand__icon" src="/static/images/logo.png" />
			<!-- <div class="navbar-brand__line"></div>
			<div class="navbar-brand__title">
				GEOREPORT
				<div class="navbar-brand__title-sub">
					by mdgt
				</div>
			</div> -->
		</a>

		<div class="navbar-collapse-wrapper-personal" id="navbar-collapse-wrapper-personal">
			<div class="navbar-collapse-personal" id="navbar-collapse-personal">
				<ul class="navbar-nav navbar-nav-personal">
					<li class="nav-item-personal">
						<a class="nav-link-personal" data-goto="home" href="/">Главная</a>
					</li>								
					<li class="nav-item-personal">
						<a class="nav-link-personal" href="/sign-out/"
						id="btn-out">Выйти</a>
					</li>
				</ul>

				<div class="nav__close-personal" id="nav-close-personal">
					<i class="ri-close-line"></i>
				</div>
			</div>
		</div>

		<div class="nav__toggle-personal" id="nav-toggle-personal">
			<i class="ri-menu-line"></i>
		</div>
	</nav>
</header>

			