<header class="navbar-mdgt">
    <nav class="container-fluid-mdgt container-mdgt">
        <a href="{{ url_for('index') }}" class="navbar-brand">
            <img class="navbar-brand__icon" src="https://s3.timeweb.com/cw78444-3db3e634-248a-495a-8c38-9f7322725c84/georeport/static/images/logo.png" />
            <!-- <div class="navbar-brand__line"></div>
            <div class="navbar-brand__title">
                GEOREPORT
                <div class="navbar-brand__title-sub">
                    by mdgt
                </div>
            </div> -->
        </a>

        <div class="navbar-collapse-wrapper" id="navbar-collapse-wrapper">
            <div class="navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-goto="home" href="/">Главная</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-goto="about" href="#"
                            >Описание проекта</a
                        >
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-goto="license" href="#">Покупка</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#" data-goto="contact">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Личный кабинет</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class="ri-menu-line"></i>
        </div>
    </nav>
</header>
