{% extends 'base.html' %} {% block title %} Главная страница {% endblock %} {%
block content_title %} Проект GEOREPORT {% endblock %} {% block content %}
<div class="index_contener">
	<div class="index_content" id="home">
		<p>
			Данный проект разработан командой компании "МОСТДОРГЕОТРЕСТ" с целью
			обеспечения гарантий подлинности данных.
		</p>
		<br />
		<p>
			GEOREPORT позволяет аутентифицировать протоколы лабораторных испытаний,
			тем самым создавая дополнительную степень защиты.
		</p>
	</div>
	<div class="home-img"  id="homeImg">
		<img class="home-img__image" src="/static/images/mainimg.png"></img>
		<div class="home-img__hover">
			<div class="home-img__link_wrapper">
				<a href={{template_report_link}} class="home-img__hover_link"><img src="/static/images/qr_index.png" /></a>
			</div>
		</div>
	</div>
</div>

{% endblock %}
