{% extends 'base.html' %} {% block title %} Главная страница {% endblock %}
{% block header %} {% include 'header.html' %} {% endblock %}
{%block content_title %} Проект GEOREPORT {% endblock %} {% block content %}
<div class="index_contener">
	<div class="index_content" id="home">
		<p>
			Данный проект разработан компанией "АО МОСТДОРГЕОТРЕСТ" с целью
			обеспечения гарантии подлинности данных.
		</p>
		<br />
		<p>
			GEOREPORT позволяет аутентифицировать протоколы лабораторных испытаний,
			тем самым создавая дополнительную степень защиты.
		</p>
	</div>
	<div class="home-img"  id="homeImg">
		<img class="home-img__image" src="/static/images/mainimg.png"></img>
		<div class="home-img__hover">
			<div class="home-img__link_wrapper">
				<a href={{template_report_link}} class="home-img__hover_link"><img src="/static/images/qr_index.png" /></a>
			</div>
		</div>
	</div>
	<div class="index_content">
		<hr id="about">
		<div class="content__container container-mdgt">
				<h2 class="container__title">
					Описание проекта
				</h2>
			</div>

		<p>Данный проект позволяет дублировать данные протоколов испытаний на
			специальном сервере, исключая ручные изменения в протоколе вне лаборатории.</p>

		<br>

		<img src="/static/images/infographics.png" class="img-fluid" alt="Responsive image">

	</div>

	<div class="index_content">
		<hr id="license">

		<p>Подключайте свою лабораторию к нам! </p>
		<p>Для подключения выберите подходящий тип лицензии и свяжитесь с нами.
			После покупки Вам станет доступен личный кабинет, через который вы сможете
			аутентифицировать свои протоколы.</p>

		<br>

		<p>Вы можете бесплатно протестировать сервис:</p>

		<br>

		<a class="btn-test btn btn-success btn-lg w-100 w-lg-50 align-center" href="mailto:tnick1502@mail.ru" id="btn-test">Протестировать</a>
		<br>
		<br>
		<br>
		<div class="content__container container-mdgt">
				<h2 class="container__title">
					Кататог лицензий
				</h2>
		</div>


		<div class="card-group">

			<div class="card text-center shadow ">
				<div class="card-body">
					<h4 class="card-title">Стандартная</h4>
					<h6 class="card-subtitle mb-2 text-muted">5 000 &#8381;/год</h6>
					<p class="card-text">
					<ul>
					<li>
						<p class="text-start" >До 1000 протоколов*</p>
					</li>
					<li>
						<p class="text-start" >Личный кабинет <img class="text-start_check" src="/static/images/check-mark.png" /></p>
					</li>
					<li>
						<p class="text-start" >АPI <img class="text-start_close" src="/static/images/close.png" /></p>
					</li>
				</ul>
					</p>
					<a class="btn-buy btn btn-success w-100 w-lg-50 align-center" href="mailto:support@mdgt.ru">Приобрести</a>
				</div>
			</div>

			<div class="card text-center shadow">
				<div class="card-body">
					<h4 class="card-title">Расширенная</h4>
					<h6 class="card-subtitle mb-2 text-muted">10 000 &#8381;/год</h6>
					<p class="card-text">
						<ul>
					<li>
						<p class="text-start" >До 10 000 протоколов*</p>
					</li>
					<li>
						<p class="text-start" >Личный кабинет <img class="text-start_check" src="/static/images/check-mark.png" /></p>
					</li>
					<li>
						<p class="text-start" >АPI <img class="text-start_close" src="/static/images/close.png" /></p>
					</li>
				</ul>
					</p>
					<a class="btn-buy btn btn-success w-100 w-lg-50 align-center" href="mailto:support@mdgt.ru">Приобрести</a>
				</div>
			</div>

			<div class="card text-center shadow">
				<div class="card-body">
					<h4 class="card-title">Максимальная</h4>
					<h6 class="card-subtitle mb-2 text-muted">30 000 &#8381;/год</h6>
					<p class="card-text">
					<ul>
					<li>
						<p class="text-start" >До 100 000 протоколов*</p>
					</li>
					<li>
						<p class="text-start" >Личный кабинет <img class="text-start_check" src="/static/images/check-mark.png" /></p>
					</li>
					<li>
						<p class="text-start" >АPI <img class="text-start_close" src="/static/images/check-mark.png" /></p>
					</li>
				</ul>
					</p>
					<a class="btn-buy btn btn-success w-100 w-lg-50 align-center" href="mailto:support@mdgt.ru">Приобрести</a>
				</div>
			</div>

		</div>
		<div>
				<p>*Максимальное количество протоколов за год использования</p>
			</div>
	</div>
</div>

{% endblock %}
