{% extends 'base.html' %} {% block title %} Главная страница {% endblock %} {%
block content_title %} Проект GEOREPORT {% endblock %} {% block content %}
<div class="index_contener">
	<div class="index_content" id="home">
		<p>
			Данный проект разработан командой компании "МОСТДОРГЕОТРЕСТ" с целью
			обеспечения гарантий подлинности данных.
		</p>
		<br />
		<p>
			GEOREPORT позволяет аутентифицировать протоколы лабораторных испытаний,
			тем самым создавая дополнительную степень защиты.
		</p>
	</div>
	<img class="qr" src="/static/images/qr_index.png" />
</div>

{% endblock %}
