{% extends 'base.html' %} {% block title %} Личный кабинет {% endblock %} {%
	block content %}
	<table class="table">
		<tbody>
			<tr>
				<td>Имя пользователя:</td>
				<td>{{ username }}</td>
			</tr>
	
			<tr>
				<td>Уровень лицензии:</td>
				<td>{{ license_level }}</td>
			</tr>
	
			<tr>
				<td>Дата окончания лицензии:</td>
				<td>{{ license_end_date }}</td>
			</tr>
	
			<tr>
				<td>Лимит:</td>
				<td>{{ limit }}</td>
			</tr>
	
			<tr>
				<td>Выдано:</td>
				<td>{{ count }}</td>
			</tr>

			<tr>
				<td>Остаток:</td>
				<td>{{ limit - count }}</td>
			</tr>
		</tbody>
	</table>
	
	<br />
	
	<a
		class="btn-out btn btn-success btn-lg w-100 w-lg-50 align-center"
		href="/sign-out/"
		id="btn-out"
		>Выйти</a
	>
	
	<br />
	
	<h2 class="container__title">Выданные протоколы</h2>
	
	<div class="dropdown">
		<button
			class="btn dropdown-toggle"
			type="button"
			id="dropdownMenuButton1"
			data-bs-toggle="dropdown"
			aria-expanded="false"
		>
			Выбор объекта
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<a class="dropdown-item" href="/login/">Без сортировки</a>
			{% for object in objects %}
			<a class="dropdown-item" href="/login/?object_number={{ object }}"
				>{{ object }}</a
			>
			{% endfor %}
		</ul>
	</div>
	
	<div class="table-report__wrapper">
		<table class="table">
			<tbody>
				<thead>
					<tr>
						<th scope="col">Дата выдачи:</th>
						<th scope="col">Объект:</th>
						<th scope="col">Информация:</th>
						<th scope="col">Действия:</th>
					</tr>
				</thead>
				{% for key, value in reports.items() %}
				<tr>
					<td class="table__td">{{ value["date"] }}</td>
					<td class="table__td">{{ value["object_number"] }}</td>
					<td class="table__td">
						{% for key, value in value["data"].items() %}
						<div>{{ key }}: {{ value }}</div>
						{% endfor %}
					</td>
					<td class="table__td">
						<div class="action">
							<a href="#" class="update-report-btn" data-id="{{ key }}"
								><img
									src="/static/images/update.png"
									class="img-fluid"
									width="30"
									height="30"
							/></a>
							<a href="#" class="delete-report-btn" data-id="{{ key }}"
								><img
									src="/static/images/trash.png"
									class="img-fluid"
									width="30"
									height="30"
							/></a>
							<a href="#"  class="download-report-btn" data-id="{{ key }}"
								><img
									src="/static/images/download.png"
									class="img-fluid"
									width="30"
									height="30"
							/></a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				{% for i in range(pages_reports) %}

					{% if object_number %}
						<li class="page-item">
							<a class="page-link" href="/login/?object_number={{ object_number }}&page={{ i + 1 }}">{{ i + 1 }}</a>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-link" href="/login/?page={{ i + 1 }}">{{ i + 1 }}</a>
						</li>
					{% endif %}

				{% endfor %}
			</ul>
		</nav>
	</div>
	
	<div class="del-report-modal__wrapper" id="del-report-dialog">
		<div class="del-report-modal">
			<h2 class="del-report__title">Удалить отчет?</h2>
			<div class="del-report__content">Это действие отменить нельзя.</div>
			<div class="del-report__actions">
				<button class="del-report__btn" id="del-report__btn-cancel">
					Отмена
				</button>
				<button class="del-report__btn" id="del-report__btn-del">Удалить</button>
			</div>
		</div>
	</div>
	
	<br />
	
	{% endblock %}
	