{% extends 'base.html' %}
{% block title %} Личный кабинет {% endblock %}
{% block header %} {% include 'header_personal.html' %} {% endblock %}
{% block content %}
	<table class="table">
		<tbody>
			<tr>
				<td>Имя пользователя:</td>
				<td>{{ username }}</td>
			</tr>
	
			<tr>
				<td>Уровень лицензии:</td>
				<td>{{ license_level }}</td>
			</tr>
	
			<tr>
				<td>Дата окончания лицензии:</td>
				<td>{{ license_end_date }}</td>
			</tr>
	
			<tr>
				<td>Лимит:</td>
				<td>{{ limit }}</td>
			</tr>
	
			<tr>
				<td>Выдано:</td>
				<td>{{ count }}</td>
			</tr>
	
			<tr>
				<td>Остаток:</td>
				<td>{{ limit - count }}</td>
			</tr>
		</tbody>
	</table>
	
	<br />
	

	
	<br />
	
	<div class="request-report__wrapper">
		<div class="request-report__description">
			Уникальный номер протокола формируется по номеру объекта, лаб.номеру и типу
			испытания, поэтому для разных протоколов эти параметры должны отличаться.
			Например, для одной пробы 2 разных протокола будут с одинаковыми номерами
			объекта и лаб.номерами, но тип опыта нужно вводить разный.
		</div>
		<form class="row g-3" id="request-report">
			<div class="col-md-4">
				<label for="inputObj">Объект *</label>
				<div class="input-group has-validation">
					<span class="input-group-text" id="inputGroupObjInfo"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-info-circle"
							viewBox="0 0 16 16"
						>
							<path
								d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
							/>
							<path
								d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
							/>
						</svg>
						<div class="form-info-box">Внутренний номер объекта</div>
					</span>
					<input
						type="text"
						class="form-control"
						id="inputObj"
						name="inputObj"
						placeholder="111-11"
						required
						aria-describedby="inputGroupObjInfo"
					/>
					<div class="invalid-feedback">Ошибка в номере объекта</div>
				</div>
			</div>
			<div class="col-md-4">
				<label for="inputLabNo">Лаб.№ *</label>
				<div class="input-group has-validation">
					<span class="input-group-text" id="inputGroupLabInfo"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-info-circle"
							viewBox="0 0 16 16"
						>
							<path
								d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
							/>
							<path
								d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
							/>
						</svg>
						<div class="form-info-box">Лабораторный номер пробы</div>
					</span>
					<input
						type="text"
						class="form-control"
						id="inputLabNo"
						name="inputLabNo"
						placeholder="A1-1/AA"
						required
						aria-describedby="inputGroupLabInfo"
					/>
					<div class="invalid-feedback">Ошибка в лабораторном номере</div>
				</div>
			</div>
			<div class="col-md-4">
				<label for="inputType">Тип испытания *</label>
				<div class="input-group has-validation">
					<span class="input-group-text" id="inputGroupTypeInfo"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-info-circle"
							viewBox="0 0 16 16"
						>
							<path
								d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
							/>
							<path
								d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"
							/>
						</svg>
						<div class="form-info-box">Тип испытания</div>
					</span>
					<input
						type="text"
						class="form-control"
						id="inputType"
						name="inputType"
						placeholder="fi-c, fi-c-E, вибро, консолидация и т.д."
						required
						aria-describedby="inputGroupTypeInfo"
					/>
					<div class="invalid-feedback">Ошибка в типе испытания</div>
				</div>
			</div>
			<div class="col-6">
				<label for="inputParam_1">Параметр</label>
				<input
					type="text"
					class="form-control"
					id="inputParam_1"
					name="inputParam_1"
					placeholder="Дата выдачи протокола"
					aria-describedby="validationFeedback"
				/>
				<div class="invalid-feedback" id="validationFeedback">
					Пожалуйста, заполните это поле.
				</div>
			</div>
			<div class="col-6">
				<label for="inputParam_1_val">Значение</label>
				<input
					type="text"
					class="form-control"
					id="inputParam_1_val"
					name="inputParam_1"
					placeholder="01.09.2022"
					aria-describedby="validationFeedback"
				/>
				<div class="invalid-feedback" id="validationFeedback">
					Пожалуйста, заполните это поле.
				</div>
			</div>
			<div class="col-6">
				<input
					type="text"
					class="form-control"
					id="inputParam_2"
					name="inputParam_2"
					placeholder=""
					aria-describedby="validationFeedback"
				/>
				<div class="invalid-feedback" id="validationFeedback">
					Пожалуйста, заполните это поле.
				</div>
			</div>
			<div class="col-6">
				<input
					type="text"
					class="form-control"
					id="inputParam_2_val"
					name="inputParam_2"
					placeholder=""
					aria-describedby="validationFeedback"
				/>
				<div class="invalid-feedback" id="validationFeedback">
					Пожалуйста, заполните это поле.
				</div>
			</div>
			<div class="col-6">
				<input
					type="text"
					class="form-control"
					id="inputParam_3"
					name="inputParam_3"
					placeholder=""
					aria-describedby="validationFeedback"
				/>
				<div class="invalid-feedback" id="validationFeedback">
					Пожалуйста, заполните это поле.
				</div>
			</div>
			<div class="col-6">
				<input
					type="text"
					class="form-control"
					id="inputParam_3_val"
					name="inputParam_3"
					placeholder=""
					aria-describedby="validationFeedback"
				/>
				<div class="invalid-feedback" id="validationFeedback">
					Пожалуйста, заполните это поле.
				</div>
			</div>
			<div class="request-form__actions">
				<button
					type="button"
					class="btn btn-outline-secondary request-form__action"
					id="request-form-add-btn"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="bi bi-plus"
						viewBox="0 0 16 16"
					>
						<path
							d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
						/>
					</svg>
				</button>
				<button
					type="button"
					class="btn btn-outline-secondary request-form__action"
					id="request-form-delete-btn"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="bi bi-dash"
						viewBox="0 0 16 16"
					>
						<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
					</svg>
				</button>
			</div>
			<div class="col-12">
				<button
					type="submit"
					class="btn-out btn btn-success btn-lg w-100 w-lg-50 align-center"
					id="request-report-submit-btn"
					disabled
				>
					Отправить
				</button>
			</div>
		</form>
	</div>
	
	<br />
	
	<h2 class="container__title">Выданные протоколы</h2>
	
	<div class="dropdown">
		<button
			class="btn dropdown-toggle"
			type="button"
			id="dropdownMenuButton1"
			data-bs-toggle="dropdown"
			aria-expanded="false"
		>
			Выбор объекта
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
			<a class="dropdown-item" href="/login/">Без сортировки</a>
			{% for object in objects %}
			<a class="dropdown-item" href="/login/?object_number={{ object }}"
				>{{ object }}</a
			>
			{% endfor %}
		</ul>
	</div>
	
	<div class="table-report__wrapper">
		<table class="table">
			<tbody>
				<thead>
					<tr>
						<th scope="col"><p>Дата выдачи:</p></th>
						<th scope="col"><p>Объект:</p></th>
						<th scope="col"><p>Лаб. номер:</p></th>
						<th scope="col"><p>Тип испытания</p></th>
						<th scope="col"><p>Информация:</p></th>
						<th scope="col"><p>Действия:</p></th>
					</tr>
				</thead>
				{% for key, value in reports.items() %}
				<tr>
					<td class="table__td">{{ value["datetime"] }}</td>
					<td class="table__td">{{ value["object_number"] }}</td>
					<td class="table__td">{{ value["laboratory_number"] }}</td>
					<td class="table__td">{{ value["test_type"] }}</td>
					<td class="table__td">
						{% for key, value in value["data"].items() %}
						<div>{{ key }}: {{ value }}</div>
						{% endfor %}
					</td>
					<td class="table__td">
						<div class="action">
							<a href="#" class="update-report-btn" data-id="{{ key }}"
								><img
									src="/static/images/update.png"
									class="img-fluid"
									width="30"
									height="30"
							/></a>
							<a href="#" class="delete-report-btn" data-id="{{ key }}"
								><img
									src="/static/images/trash.png"
									class="img-fluid"
									width="30"
									height="30"
							/></a>
							<a href="#" class="download-report-btn" data-id="{{ key }}"
								><img
									src="/static/images/download.png"
									class="img-fluid"
									width="30"
									height="30"
							/></a>
						</div>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				{% for i in range(pages_reports) %} {% if object_number %}
				<li class="page-item">
					<a
						class="page-link"
						href="/login/?object_number={{ object_number }}&page={{ i + 1 }}"
						>{{ i + 1 }}</a
					>
				</li>
				{% else %}
				<li class="page-item">
					<a class="page-link" href="/login/?page={{ i + 1 }}">{{ i + 1 }}</a>
				</li>
				{% endif %} {% endfor %}
			</ul>
		</nav>
	</div>
	
	<div class="del-report-modal__wrapper" id="del-report-dialog">
		<div class="del-report-modal">
			<h2 class="del-report__title">Удалить отчет?</h2>
			<div class="del-report__content">Это действие отменить нельзя.</div>
			<div class="del-report__actions">
				<button class="del-report__btn" id="del-report__btn-cancel">
					Отмена
				</button>
				<button class="del-report__btn" id="del-report__btn-del">Удалить</button>
			</div>
		</div>
	</div>
	
	<br />
	<script src="{{ url_for('static', path='js/requestReport.js') }}"></script>
	
	{% endblock %}
	